@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Black.woff2') format('woff2'),
        url('../fonts/Graphik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

body{
	background-color: #19191B;
	font-family: 'Nunito Sans', sans-serif;
	margin-left: 39px;
	width: 94%;
	background-image: url('../img/bg1.png');
	background-repeat: no-repeat;
}

.fondo2{
	z-index: 0;
	position: absolute;
	left: 0;
}

.uno{
	margin: 0 0 0 70px;
}
.uno .burger{
	display: none;
}

.row .imglogo{
	margin-top: 22px;
}
.row .menu ul{
	display: flex;
}
.row .menu li{
	list-style: none;
	width: 100px;
}

.row .menu a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
	font-size: 18px;
	font-weight: 500;
}
.row .menu .Home{
	color: #5454D4;
}
.row .menu .Project{
	width: 120px;
}
.uno .boton{
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 140px;
	height: 40px;

}
.uno .boton a{
	color: white;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
}

.dos{
	padding-top: 120px;
}
.dos .tit1{
	font-size: 80px;
	color: white;
	font-weight: 900;
	line-height: 84px;
	font-family: 'Graphik';
}
.dos .img1{
	width: 111%;
	height: 100%;
}
.dos .img1m{
	display: none;
}
.dos p{
	color: rgba(255, 255, 255, 0.7);
	font-size: 21px;
}
.dos .colboton .Boton{
	background-color: #5454D4;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 58px;
	width: 204px;
	border-radius: 5px;
	margin-top: 20px;
	gap: 10px;
}
.dos .colboton .Boton a{
	color: white;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
}

.tres .text1{
	font-weight: 900;
	font-size: 60px;
	line-height: 70px;
/* or 117% */
	color: #FFFFFF;
	font-family: 'Graphik';
}
.tres .text2{
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 39px;
	margin-top: 27px;
/* or 186% */

	letter-spacing: -0.656526px;

	color: rgba(255, 255, 255, 0.7);
}

.cuatro{
	margin-top: 50px;
}
.cuatro .BG{
	/*height: 95%;*/
	width: 86%;
	margin-left: 80px;
}

.cinco{
	margin-top: 10%;
	margin-left: 50px;
	position: relative;
}
.cinco .fig1{
	background-image: url('../img/bg2.png');
	z-index: 1;
}
.cinco .fondofig1{
	z-index: 0;
	position: absolute;
	left: 23px;
	top: 20px;
}
.cinco .tit1{
	margin-left: 8%;
	font-weight: 900;
	font-size: 60px;
	line-height: 70px;
	/* or 117% */
	text-align: center;
	color: #FFFFFF;
	font-family: 'Graphik';
}
.cinco .equis{
	position: absolute;
	left: 63.91%;
	top: 57%;
}
.cinco .fig1{
	margin-top: 2%;
}

.seis{
	position: relative;
	/*margin-left: 10%;*/
	margin-top: 5%;
	color: white;
}
.seis .code{
	position: absolute;
	top: 26%;
	left: 46%;
}
.seis .layer{
	position: absolute;
	top: 26%;
	left: 46%;
}
.seis .code1{
	position: absolute;
	top: 26%;
	left: 46%;
}
.seis .oval1{
	/*margin-right: 5%;*/
	/*padding-left: 39px;*/
}
.seis .oval2{
/*	position: absolute;
	left: 37%;*/
}
.seis .oval3{
/*	position: absolute;
	left: 73%;*/
}

.seis1{
	/*margin-left: 15%;*/
	position: relative;
	color: white;	
}
.seis1 h3, .siete1 h3{
	/*margin-right: 12%;*/
	font-weight: 600;
	font-size: 28px;
	line-height: 38px;
	text-align: center;
	letter-spacing: -0.750316px;
}
.seis1 .texto p, .siete1 p{
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	/* or 140% */

	text-align: center;
	letter-spacing: -0.500211px;

	color: rgba(255, 255, 255, 0.7);
}

.siete1{
	color: white;
}


.siete{
	position: relative;
	/*margin-left: 12%;*/
	margin-top: 8%;
}
.siete .icono1{
	position: absolute;
	top: 26%;
	left: 46%;
}
.siete .camera{
	position: absolute;
	top: 26%;
	left: 46%;	
}
.siete .video{
	position: absolute;
	top: 26%;
	left: 46%;
}

.equis1{
	transform: rotate(36deg);
}
.contequis1{
	margin-top: 10%;
	margin-left: 3%;
}

.ocho{
	margin-left: 3%;
	margin-right: 3%;
	position: relative;
}
.ocho h1{
	font-style: normal;
	font-weight: 800;
	font-size: 58px;
	line-height: 79px;
	color: #FFFFFF;	
}
.ocho .imagen1{
	margin-top: 15%;
	width: 100%;
}
.ocho .imagen2{
	margin-top: 30%;
	width: 100%;
}
.ocho .imagen3{
	margin-top: 60%;
	width: 100%;
}
.ocho .services{
	display: none;
}

.contenedor9{
	width: 100%;
	position: relative;
	background: rgba(30, 30, 32, 0.5);
	color: white;
	margin: 0px -21px 0 -38px;
}
.contenedor9 h1{
	font-style: normal;
	font-weight: 900;
	font-size: 60px;
	line-height: 66px;
	margin: 100px 0 0 50px;
	padding-bottom: 7%;
}
.contenedor9 .equis{
	position: absolute;
	transform: rotate(29deg);
	right: 6%;
	top: 15%;
}
.contenedor9 .Boton{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 201px;
	height: 60px;
	background: #5454D4;
	border-radius: 5px;
	margin-top: 36%;
}
.contenedor9 .Boton a{
	color: white;
	text-decoration: none;
	font-weight: 700;
	font-size: 21px;
	line-height: 29px;
}

.fin .list ul{
	display: flex;
}
.fin .list li{
	list-style: none;
	width: 74%;
	margin: 5px 0 0 0;
}
.fin .list a{
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	/* identical to box height */
	text-align: center;
	color: rgba(255, 255, 255, 0.7);
}
.fin p{
	font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 38px;
/* identical to box height, or 238% */

text-align: right;
letter-spacing: -0.500211px;

color: rgba(255, 255, 255, 0.7);
}